body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    background-color: #2D25A0;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    font-size: 12px;
}

 /*.navigation{ 
    background-color: #2D25A0;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;

}*/

/*nav ul{
    display: flex;
    margin-bottom: 30px;
}

nav li{
    list-style: none;
    margin-right: 40px;
}
nav li :hover{
    background-color: lightgrey;
}

nav li a{
    text-decoration: none;
    color: white;
}*/

/* ----------------
navigation
------------------- */
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-right: 15px;
    padding-left: 35px;
}

.login-button{
    text-decoration: none;
    background: #E02C6D;
    padding: 8px 15px;
    color: white;
    font-size: 10px;
    font-weight: 400;
}

/* ---------------
top banner
------------------ */
.top-banner{
    background-color: #2D25A0;
    display: flex;
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

.top-writing{
    width: 50%;
    text-align: justify;
    padding-left: 200px;
    padding-right: 30px;
    color: white;
}


.top-writing img{
    width: 100%;
    height: 100;
    padding-right: 500px;
}
.top-writing h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.football{
    transition: transform 1s;
    position: relative;
    transition: transform 1s ease-out;
}
.football:hover{
    transform: rotate(10deg);
    transform-origin: top left;
}

section{
    display: flex;
    justify-content: center;
}

/* -------------
players style 
----------------*/

.top-players {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
  }

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    background-color: #FFFF; 
    padding: 10px;  
    margin-top: 80px;
}
.top-players .players {
    background-color: white;
    padding: 0;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.player{
    box-shadow: 10px 10px 20px gray;
}
.player img{
    position: static;
    width: 300px;
    height: 256px;
    left: 0px;
    top: 0px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.project-title{
position: static;
width: 300px;
left: calc(50% - 300px/2);
top: 0%;
bottom: 74.03%;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 40px;
}

.project-description{
position: static;
width: 300px;
left: calc(50% - 300px/2);
top: 32.47%;
bottom: 0%;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */

font-feature-settings: 'liga' off;

color: #6C6C6C;
}

/* highlighting part */
.highlights{
    display: flex;
    margin-bottom: 200px;
    margin-top: 100px;
}
.half-width{
    width: 50%;
    text-align: justify;
    padding-left: 100px;
    padding-right: 30px;
}

.half-width img{
    width: 100%;
    padding-left: 5px;
}
.half-width h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.link-button{
    text-decoration: none;
    background: #E02C6D;
    padding: 8px 15px;
    color: white;
    font-size: 10px;
    font-weight: 400;
}



/* ----------------
my club style
------------------- */


.my-club-pro{
    display: flex;
    background-color: navy;
    color: oldlace;
    margin-bottom: 200px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.club-info{
    width: 50%;
    text-align: justify;
    padding-left: 100px;
    padding-right: 30px;
}


.club-info h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.link-button{
    text-decoration: none;
    background: #E02C6D;
    padding: 8px 15px;
    color: white;
    font-size: 10px;
    font-weight: 400;
}

/* ----------------
Photo Album 
------------------- */

.football-album{
    margin-left: 80px;
    
}
.football-album h3{
    text-align: center;
    font-size: 40px;
    color: rosybrown;
    font-weight: 700;
}

.photo-album{
    display: flex;
    flex-wrap: wrap;
}

.photo-frame{
    width: 300px;
    height: 200px;
    border: 2px solid palevioletred;
    border-radius: 10px;
    position: relative;
}

.photo img{
    width: 100%;
    border-radius: 10px;
}

.photo-detail{
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
}
.photo-detail h2{
    font-size: 14px;
    color: white;
}

.photo-frame:hover .photo-detail{
    display: block;
    background-color: rgba(16, 180, 79, 0.267);
}

/* -----------
footer 
------------*/
footer {
    text-align: center;
}
footer a{
    margin-right: 8px;
    justify-content: space-between;
    justify-items: center;
}
footer img{
    display: block;
    margin-top: 70px;
    margin: 0;
    width: 200px;
    padding-left: 515px;
    justify-items: center;
}

/* -------------
media quiries
---------------- */

@media only screen and (max-width:688px) {
    .top-players{
        width: 100%;
    }
    .player{
        background-color: red;
        /*grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr);*/
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .top-players .highlights .top-banner{
        flex-direction: column;
    }
    
}